<h1> Edit </h1>

<form action="/update/<%= @upd_board.id %>" method="POST">
    <br>
<input type="text" name="inputTitle" value="<%= @upd_board.dbTitle %>"><br><br>
<input type="text" name="inputEditor" value="<%= @upd_board.dbEditor %>"><br><br>
<input type="text" name="inputContent" value="<%= @upd_board.dbContent %>"><br><br>
<input type="submit" value="Submit">


</form>