<h1> New </h1>

<form action="/create" method="POST">
    <br>
<input type="text" name="inputTitle" placeholder="Title"><br><br>
<input type="text" name="inputEditor" placeholder="Editor"><br><br>
<input type="text" name="inputContent" placeholder="Content"><br><br>
<input type="submit" value="Submit">


</form>